
/* button themes */
.grape-button,
.green-button,
.orange-button,
.pink-button,
.blue-button,
.teal-button,
.purple-button,
.red-button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: .8em;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.grape-button:hover,
.orange-button:hover,
.green-button:hover,
.pink-button:hover,
.blue-button:hover,
.teal-button:hover,
.purple-button:hover,
.red-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.grape-button {
    background-image: linear-gradient(to right, #9dbf00 0%, #ccd79d 51%, #9dbf00 100%);
}

.orange-button {
    background-image: linear-gradient(to right, #F2994A 0%, #F2C94C 51%, #F2994A 100%);
}

.green-button {
    background-image: linear-gradient(to right, #76b852 0%, #b3de99 51%, #76b852 100%);
}


.pink-button {
    background-image: linear-gradient(to right, #d400b7 0%, rgb(215, 155, 166) 51%, #d400b7 100%);
}


.blue-button {
    background-image: linear-gradient(to right, #007bff 0%, rgb(168, 201, 248) 51%, #007bff 100%);
}


.teal-button {
    background-image: linear-gradient(to right, #50C9C3 0%, #96DEDA 51%, #50C9C3 100%);

}

.purple-button {
    background-image: linear-gradient(to right, #7a00ff 0%, #ad8bd2 51%, #7a00ff 100%);
}

.red-button {
    background-image: linear-gradient(to right, #fa3a3a 0%, #ffaaaa 51%, #ff3232 100%);
}